<f:layout name="Default" />

<f:section name="Title">Shopping cart</f:section>

<f:section name="Content">
	<h1>Shopping cart ({shoppingCart.items -> f:count()} item(s))</h1>
	<ul>
		<f:for each="{shoppingCart.items}" as="item">
			<li>
				{item.name} ({item.amount}) - {item.totalPrice -> f:format.currency(currencySign: '$')}
			</li>
		</f:for>
	</ul>
	<p><f:link.action action="index" controller="Product">Product list</f:link.action></p>

	<f:form action="new" controller="Purchase">
		<f:form.submit value="CHECKOUT" />
	</f:form>
</f:section>